html,
body,
#root {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #ff2f7d;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #ff2f7d;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6b9f;
}